<!DOCTYPE html>
<html>
<head>
  <title>Nonprofit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class= "navbar">
    <h3>Non-profit Tracker</h3>
    <ul>
      <li><%= link_to "List of Donors", root_path %></li>
      <li><%= link_to "New Donor", new_donor_path, remote: true  %></li>
    </ul>
</div>

<%= flash[:notice] %>
<%= yield %>

</body>
</html>
